extends layout

block content
  h1= title
  p Jokas-Webinterface

  // Wrapper
  #wrapper

    // PROJECTS INFO
    #userInfo
      h2 Projektinfo
      p
        strong Namn:
        |  <span id='projectInfoName'></span>
        br
        strong Datum:
        |  <span id='projectInfoEnable'></span>

    // /PROJECTS INFO

    // PROJECTS LIST
    h2 Projektlista
    #projectlist
      table
      table
        thead
          th Projektnamn
          th Datum
          th Ladda ned?
          th Radera?
        tbody
    // /PROJECTS LIST

    // ADD PROJECTS
    h2 Lägg till projekt.
    #addUser
      fieldset
        input#inputProjectName(type='text', placeholder='project_name')
        input#inputUserEmail(type='text', placeholder='enabled')
        br
        button#btnAddUser Lägg till
    // /ADD PROJECTS
  // /WRAPPER